/*=====global=====*/
html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background: white;
}

.container {
  width: 100%;
  /*max-width: 768px;*/
  margin: 0 auto;
}

/*=====sprite=====*/
.sprite {
  display: block;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-bus-icon {
  width: 50px;
  height: 29px;

  background-position: -10px -10px;
}

.sprite-train-icon {
  width: 58px;
  height: 26px;

  background-position: -10px -59px;
}

.sprite-vk-icon {
  width: 22px;
  height: 13px;

  background-position: -10px -105px;
}

/*=====mobile=====*/
.page-header {
  padding-top: 15px;
  padding-bottom: 21px;

  border: 1px solid #ebebeb;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

.page-logo {
  margin: 0 auto;
  padding-left: 53px;
}

.page-logo__img {
  width: 143px;
  height: 49px;
}

.main-navigation__toggler {
  position: relative;
  top: 17px;

  margin-right: 23px;
}

.main-navigation__toggler-elem {
  display: block;
  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::before {
  content: "";
  position: absolute;
  top: 10px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__toggler-elem::after {
  content: "";
  position: absolute;
  top: 20px;

  width: 30px;
  height: 5px;

  background-color: #ff7435;
}

.main-navigation__list {
  display: none;
}

.page-header__contacts {
  display: none;
}

.btn--header {
  display: none;
}

.page-main {
  margin-bottom: 30px;
}

.hero-section {
  min-height: 321px;
  padding-top: 20px;

  background: url("../img/bg-1.jpg") no-repeat;
  background-size: cover;
}

.hero-section__wrapper {
  padding: 4px 19px 3px;

  background-color: rgba(255, 255, 255, 0.9);
}

.hero-section__header {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Serif Caption", "Arial", sans-serif;
  text-align: center;
  color: #1c1c1c;
  letter-spacing: 1px;
}

.hero-section__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1c1c1c;
}

.features {
  min-height: 355px;
  padding-top: 18px;
}

.tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding: 0 10px 10px;

  list-style: none;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.tab__item {
  position: relative;

  letter-spacing: 1px;
}

.tab__item:last-of-type {
  padding-left: 21px;
}

.tab__link {
  font-size: 14px;
  line-height: 1.4;
  color: #838383;
  text-transform: uppercase;
  text-decoration: none;
}

.tab__link--orange {
  color: #ff7435;
}

.tab__link--orange::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 52px;

  width: 30px;
  height: 2px;

  background-color: #ff7435;
}

.tab-content {
  padding-top: 32px;

  background: url("../img/bg-2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.page-title {
  padding-bottom: 7px;

  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
  font-family: "PT Serif Caption", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 1px;
}

.page-title--tab {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.tab-content__text {
  width: 290px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.tab-content__text--hidden {
  display: none;
}

.advantages {
  display: none;
}

.gallery {
  margin-bottom: 45px;
}

.gallery-img {
  width: 100%;
  height: 261px;

  -o-object-fit: cover;
     object-fit: cover;
}

.preview {
  display: none;
}

.feedback {
  min-height: 617px;
  margin-bottom: 42px;

  background: url("../img/bg-3.jpg") no-repeat;
  background-size: cover;
}

.page-title--white {
  margin: 0;
  padding-top: 61px;
  padding-bottom: 51px;

  color: #ffffff;
}

/*.feedback__wrapper {
  background-color: #ffffff;
}*/

.feedback-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;

  background-color: #ffffff;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.feedback-card:nth-child(2) {
  display: none;
}

.feedback-card__image {
  width: 82px;
  height: 82px;
  margin-top: -25px;
  margin-bottom: 10px;
}

.feedback-card__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}

.feedback-card__link {
  display: block;
  width: 22px;
  height: 13px;
  margin-bottom: 8px;

  font-size: 0;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -105px;
}

.feedback-card__text {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  padding: 0 40px;

  line-height: 22px;
  text-align: center;
}

.feedback-card__date {
  padding-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #191919;
  letter-spacing: 1px;
}

.btn--feedback {
  display: block;
  margin: 0 auto;
  padding: 8px 23px;

  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  outline: 0;
  cursor: pointer;
}

.offer {
  margin-bottom: 67px;
}

.offer-slider__item {
  position: relative;
}

.slider__arrow {
  display: none;
}

.offer__picture {
  width: 100%;
  height: 299px;

  -o-object-fit: cover;
     object-fit: cover;
}

.offer__overlay {
  position: absolute;
  top: 159px;

  width: 276px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;

  background-color: rgba(255, 255, 255, 0.9);
}

.offer__title {
  margin: 0;
  margin-bottom: 3px;
  padding: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ff7435;
  text-transform: uppercase;
}

.offer__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #191919;
}

.offer-slider__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  padding: 0;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.offer-slider__toggler-elem {
  display: block;
  width: 11px;
  height: 11px;

  background-color: #ffffff;
  border: 2px solid #ff7435;
  border-radius: 50%;
  cursor: pointer;
}

.offer-slider__toggler-elem--active {
  display: block;
  width: 11px;
  height: 11px;
  margin-right: 20px;

  background-color: #ff7435;
  border-radius: 50%;
}

.page-contacts {
  margin-bottom: 57px;
}

.map {
  margin-bottom: 77px;
}

.map img {
  width: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

.page-title--contacts {
  margin-bottom: 24px;
  padding: 0 10px;
}

.routes {
  position: relative;

  margin-bottom: 50px;

  text-align: center;
}

.routes:last-child {
  margin-bottom: 0;
}

.routes__header {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  color: #191919;
  text-transform: uppercase;
}

.routes__header--bus::before {
  content: "";

  display: block;
  width: 50px;
  height: 29px;
  margin: 0 auto;
  padding-bottom: 13px;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.routes__header--train::before {
  content: "";

  display: block;
  width: 58px;
  height: 26px;
  margin: 0 auto;
  padding-bottom: 13px;

  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -59px;
}

.routes__text {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  color: #191919;
}

.routes__text span {
  font-weight: bold;
}

.choose {
  min-height: 882px;

  background: url("../img/bg-5.jpg") no-repeat;
  background-size: cover;
}

.choose__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  align-items: center;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-align: center;
}

.page-title--choose {
  margin: 0;
  padding: 0;
  padding-top: 43px;
  padding-bottom: 32px;

  color: #ffffff;
}

.choose-card {
  width: 278px;
  margin-bottom: 20px;

  text-align: center;

  background-color: #ffffff;
}

.choose-card:last-child {
  margin-bottom: 0;
}

.choose-card__link {
  text-decoration: none;
}

.choose-card__title {
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 10px;

  font-size: 26px;
  line-height: 19px;
  font-family: "PT Serif", "Arial", sans-serif;
  color: #191919;
}

.choose-card__text {
  margin: 0;
  padding: 0;
  padding-bottom: 42px;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #191919;
  text-transform: uppercase;
}

.choose-card__price {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #ff7435;
  text-transform: uppercase;
}

.page-footer {
  padding-bottom: 25px;

  text-align: center;
}

.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.page-footer__address {
  display: none;
}

.page-footer__logo {
  margin-bottom: 3px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;

  font-size: 0;

  background-image: url("../img/social-icons.png");
  background-repeat: no-repeat;
}

.social__link:nth-child(2) {
  margin: 0 35px;
}

.social__link--ins {
  background-position: -59px 0;
}

.social__link--fb {
  background-position: -118px 0;
}

.page-footer__contacts {
  display: none;
}

/*=====tablet=====*/
@media all and (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }

  .page-header__container {
    max-width: 1200px;
  }

  .hero-section {
    min-height: 301px;

    background: url("../img/bg-1-tablet.jpg") no-repeat;
    background-size: cover;
  }

  .hero-section__wrapper {
    padding-left: 28px;

    background: none;
  }

  .hero-section__header {
    margin-bottom: 26px;

    font-size: 36px;
    line-height: 42px;
    text-align: left;
  }

  .hero-section__header span {
    background-color: rgba(255, 255, 255, 0.9);
    outline: 3px solid rgba(255, 255, 255, 0.9);
  }

  .hero-section__text {
    width: 480px;

    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  .hero-section__text span {
    background-color: rgba(255, 255, 255, 0.9);
    outline: 3px solid rgba(255, 255, 255, 0.9);
  }

  .features {
    min-height: 546px;

    background: url("../img/bg-2-tablet.jpg") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .tab {
    margin-bottom: 22px;
  }

  .tab__list {
    justify-content: center;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .tab__item:first-child {
    margin-right: 13px;
  }

  .page-title {
    font-size: 30px;
  }

  .page-title--tab {
    width: 314px;
    margin: 0 auto;
    margin-bottom: 20px;

    text-align: left;
  }

  .tab-content__text {
    width: 570px;
    margin: 0 auto;
  }

  .tab-content__text--hidden {
    display: block;
    margin-bottom: 34px;
  }

  .advantages {
    display: block;
  }

  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-right: 38px;
    padding-left: 68px;

    list-style: none;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -ms-flex-wrap: wrap;
  }

  .advantages__item {
    margin-bottom: 26px;
  }

  .advantages__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
        flex-wrap: wrap;
    margin-right: 59px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #191919;
    text-transform: uppercase;
    text-decoration: none;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-wrap: wrap;
  }

  .advantages__link img {
    margin-bottom: 7px;
  }

  .gallery-img {
    height: 330px;

    vertical-align: bottom;
  }

  .preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;

    font-size: 0;
  }

  .preview-img {
    width: 14.28%;

    -o-object-fit: cover;
       object-fit: cover;
  }

  .page-title--white {
    padding-right: 33px;
    padding-bottom: 45px;
  }

  .feedback {
    margin-bottom: 33px;
    padding-bottom: 46px;

    background: url("../img/bg-3-tablet.jpg") no-repeat;
    background-size: cover;
  }

  /*.feedback__wrapper {
    background-color: transparent;
  }*/

  .slider__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    align-items: center;
    padding-right: 34px;

    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-align: center;
  }

  .feedback-card {
    width: 477px;

    background-color: #ffffff;
  }

  .feedback-card:first-child {
    margin-bottom: 57px;
  }

  .feedback-card:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .feedback-card__link--fb {
    display: block;
    width: 17px;
    height: 17px;
    margin-bottom: 8px;

    font-size: 0;

    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
  }

  .feedback-card__text {
    padding: 0 20px;
  }

  .offer {
    margin-bottom: 40px;
  }

  .page-title--offer {
    padding-right: 42px;
  }

  .offer-slider__toggler {
    padding-right: 32px;
  }

  .page-title--contacts {
    padding-right: 40px;
  }

  .page-contacts {
    margin-bottom: 46px;
  }

  .map {
    margin-bottom: 36px;
  }

  .routes {
    margin-bottom: 25px;
  }

  .choose {
    min-height: 498px;
  }

  .page-title--choose {
    padding-right: 40px;
  }

  .choose__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    justify-content: center;
    padding: 0 22px;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .choose-card {
    width: 353px;
    margin: 0 10px;
  }

  .choose-card__link img {
    width: 353px;
    height: 199px;
  }

  .page-footer__container {
    -ms-flex-direction: row;
        flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  }

  .page-footer__address {
    display: block;
    width: 150px;
    padding-top: 17px;
    padding-left: 8px;

    font-size: 14px;
    line-height: 18px;
    color: :#191919;
  }

  .page-footer__contacts {
    display: block;
    width: 150px;
    padding-top: 16px;
    padding-right: 17px;

    text-align: left;
    letter-spacing: 1px;
  }

  .page-footer__tel,
  .page-footer__mail {
    font-size: 14px;
    line-height: 18px;
    color: #191919;
    text-decoration: none;
  }
}

/*=====desktop=====*/
@media all and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 10px;
  }

  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    -webkit-box-align: center;
    -webkit-box-pack: start;
    -ms-flex-align: center;
    -ms-flex-pack: start;
  }

  .page-logo {
    margin: 0;
    margin-right: 41px;
    padding: 0;
  }

  .main-navigation {
    margin-right: 101px;
  }

  .main-navigation__toggler {
    display: none;
  }

  .main-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .main-navigation__item {
    margin-right: 15px;
  }

  .main-navigation__link {
    font-size: 14px;
    line-height: 59px;
    color: #191919;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .main-navigation__link--active {
    color: #ff7435;
  }

  .page-header__contacts {
    display: block;
    margin-right: 28px;
  }

  .page-header__tel {
    font-weight: 900;
    font-size: 18px;
    line-height: 37px;
    font-family: "PT Sans Caption", "Arial", sans-serif;
    color: #191919;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
  }

  .page-header__address {
    font-size: 14px;
    line-height: 18px;
    color: #191919;
    letter-spacing: 1px;
  }

  .btn--header {
    position: relative;

    display: block;
    padding: 10px 16px 10px 43px;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    background-color: #ff7435;
    border-radius: 25px;
  }

  .btn::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 19px;

    display: block;
    width: 15px;
    height: 16px;

    background: url("../img/calendar-icon.png") no-repeat;
  }

  .hero-section {
    min-height: 342px;
    margin-bottom: 20px;
    padding-top: 82px;
    padding-left: 9px;

    background: url("../img/bg-1-desktop.png") no-repeat;
  }

  .hero-section__header {
    margin-bottom: 28px;
    padding-right: 532px;

    letter-spacing: 2px;
  }

  .tab-content {
    padding-top: 45px;
  }

  .features {
    min-height: 474px;
  }

  .gallery {
    margin-bottom: 39px;
  }

  .gallery-img {
    height: 500px;
  }

  .preview-img {
    width: 197px;
    height: 116px;
  }

  .feedback {
    min-height: 485px;
    margin-bottom: 40px;
  }

  .page-title--white {
    padding-top: 40px;
  }

  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;

    -webkit-box-align: center;
    -webkit-box-pack: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
  }

  .slider__item {
    -ms-flex-direction: row;
        flex-direction: row;
    justify-content: center;
    -ms-flex-order: 2;
    order: 2;
    padding-left: 15px;

    -webkit-box-direction: normal;
    -webkit-box-ordinal-group: 3;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  }

  .feedback-card {
    margin: 0 10px;
    margin-bottom: 0;
  }

  .feedback-card:first-child {
    margin-bottom: 0;
    padding: 2px 0;
  }

  .slider__arrow {
    font-size: 0;
  }

  .slider__arrow--left {
    display: block;
    width: 20px;
    height: 37px;

    background: url("../img/arrow-left.png") no-repeat;
  }

  .slider__arrow--right {
    display: block;
    -ms-flex-order: 3;
    order: 3;
    width: 20px;
    height: 37px;

    background: url("../img/arrow-right.png") no-repeat;

    -webkit-box-ordinal-group: 4;
  }

  .offer-slider {
    margin-bottom: 101px;
  }

  .offer__picture {
    width: 100%;
    height: 336px;

    -o-object-fit: cover;
       object-fit: cover;
  }

  .offer__overlay {
    top: 199px;

    width: 328px;
  }

  .page-contacts {
    margin-bottom: 76px;
  }

  .page-contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
    padding-left: 125px;

    -webkit-box-align: baseline;
    -webkit-box-pack: center;
    -ms-flex-align: baseline;
    -ms-flex-pack: center;
  }

  .routes {
    margin: 0 20px;
  }

  .routes:first-child {
    margin-right: 58px;
  }

  .routes__text {
    text-align: left;
  }

  .choose-card {
    margin: 0 20px;
  }
}
